footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: relative;
    border-top: 1px solid #552600;
    background: #FFD1AA;
}

footer ul {
    list-style-type: none;
    font-size: 1.2em;
    width: 20em;
    margin: 0;
    padding: 10px 0;
}

footer ul a {
    text-decoration: none;
    color: #804515;
}

footer li {
    color: #804515;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 120%;
}

footer a:hover {
    color: #D49A6A;
}

.footerEmail {
    text-align: right;
}

.footerImgWrapper {
    position: relative;
    width: 5em;
    height: 5em;
    display: inline-block;
    left: 12.5px;
}